<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  
  <nav class = "navbar">
    <ul>
        <li class="li-inline nav-item"><a href="/">Home</a></li>
        <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
        {{#unless loggedIn}}
        <li class="li-inline nav-item"><a href="/login">Home</a></li>
        {{/unless}}
        <li class="li-inline nav-item"><a href="#" id=" logout-link">logout</a></li>
    </ul>
   
  </nav>

  <header>
    <h1>The </h1>Tech Blog
  </header>

  <main class="">
      {{{body}}}
  </main>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>